@CHARSET "UTF-8";

.myparcel_table { width:100%; }
.myparcel_table td { text-align:right; }
.myparcel_table td.mypafunc { width:55px; vertical-align:top; padding-left:10px; }
.myparcel_table div { white-space:nowrap; width:100%; }
.myparcel_table img { width:18px; height:20px; margin-left:5px; vertical-align:top; }
.myparcel_table tr td {border-bottom: none !important;}
.mypaleft { float:left; margin-left:10px; }
.myparcel_align_right {text-align: right !important;}
.myparcel-action-column {width: 240px;}


.nobootstrap label[for=MYPARCEL_FRONTEND_PLUGIN], .nobootstrap label[for=MYPARCEL_REMOVE_DATA_AFTER_UNINSTALL]{
	width: 25px;
}