.bootstrap .page-head h4.page-subtitle {
  display: none;
}

[data-pdk-context] .alert {
  position: fixed;
  z-index: 51;
}

.dropdown-item.btn-primary {
  background-color: transparent;
}

.nav-pills + div .card {
  margin-top: .625rem;
}

.column-myparcel .card {
  width: 282px;
}

.text-nowrap > div:not(.dropdown-menu) {
  display: inline;
}
