{
  "extends": "@myparcel/eslint-config/preset-es6",
  "overrides": [
    {
      "files": [
        "./*.js",
        "./private/**/*.js"
      ],
      "env": {
        "node": true
      }
    },
    {
      "files": [
        "./views/js/**/*.js"
      ],
      "globals": {
        "prestashop": true,
        "$": true
      },
      "env": {
        "browser": true,
        "jquery": true
      },
      "rules": {
        "max-len": "off",
        "no-magic-numbers": "off",
        "no-console": "off"
      }
    },
    {
      "files": [
        "./release.config.js"
      ],
      "rules": {
        "no-template-curly-in-string": "off"
      }
    }
  ]
}
