{
  "root": true,
  "extends": "@myparcel/eslint-config",
  "env": {
    "node": true,
    "jquery": true
  },
  "overrides": [
    {
      "files": [
        "./**/*.ts",
        "./**/*.vue"
      ],
      "extends": "@myparcel/eslint-config/preset-vue-typescript",
      "rules": {
        "@typescript-eslint/no-inferrable-types": "off",
        "@typescript-eslint/no-type-alias": "off",
        "@typescript-eslint/no-unnecessary-type-assertion": "off",
        "@typescript-eslint/unbound-method": "off",
        "no-void": "off",
        "vue/require-direct-export": "off"
      }
    }
  ]
}
