td.ui-state-danger {
	background-color: #E08F95;
}

td.ui-state-warning {
	background-color: #fbbb22;
}

.ui-state-warning > a {
	color: white!important;
}

.ui-state-danger > a {
	color: white!important;
}

.myparcel-label-warning {
	background-color: #fbbb22!important;
}

.myparcel-label-success {
	background-color: #72C279!important;
}

.myparcel-label-info {
	background-color: #00aff0!important;
}

.myparcel-label-danger {
	background-color: #E08F95!important;
}

.myparcel-label-inverse {
	background-color: #333333!important;
}

.myparcel-badge-warning {
	color: #fbbb22!important;
	background-color: white!important;
}

.myparcel-badge-success {
	color: #72C279!important;
	background-color: white!important;
}

.myparcel-badge-info {
	color: #00aff0!important;
	background-color: white!important;
}

.myparcel-badge-danger {
	color: #E08F95!important;
	background-color: white!important;
}

.myparcel-badge-inverse {
	color: #333333!important;
	background-color: white!important;
}

td.sameday-cutoff-labels {
	line-height: 2em!important;
}

td.sameday-cutoff-labels * {
	font-weight: 700!important;
}
.bootstrap .table tbody > tr.odd > td {
	background-color: transparent!important;
}
.bootstrap .table tbody > tr > td {
	background-color: transparent!important;
}
