myparcelbe_label:
  path: myparcelbe/label
  methods: [ GET, POST ]
  defaults:
    _controller: 'Gett\MyparcelBE\Controllers\Admin\AdminMyParcelBELabelController::index'

myparcelbe_order:
  path: myparcelbe/order
  methods: [ GET, POST ]
  defaults:
    _controller: 'Gett\MyparcelBE\Controllers\Admin\AdminMyParcelOrderController::index'

myparcelbe_loading:
  path: myparcelbe/loading
  methods: [ GET ]
  defaults:
    _controller: 'Gett\MyparcelBE\Controllers\Admin\LoadingController::index'
