{# Create button in order grid #}
<code>create_label.html.twig</code>
<button
    class="btn btn-outline-secondary text-nowrap"
    type="button"
    data-toggle="modal"
    data-context="{{ context | json_encode | raw }}"
    data-target="#shipmentOptions">
    <i class="material-icons"> label</i>
    {{ 'Create' | trans({}, 'Admin.Actions') }}
</button>
