name: '⚙️ On push'

on:
  push:
    branches:
      - alpha
      - beta

  workflow_dispatch:

concurrency:
  group: '${{ github.workflow }}-${{ github.ref }}'
  cancel-in-progress: true

jobs:
  test:
    uses: ./.github/workflows/test.yml
    secrets: inherit

  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: myparcelnl/actions/pdk-prerelease@v4
        with:
          app-id: ${{ secrets.MYPARCEL_APP_ID }}
          private-key: ${{ secrets.MYPARCEL_APP_PRIVATE_KEY }}
          php-version: ${{ vars.PHP_VERSION }}
          php-scoper-version: ${{ vars.PHP_SCOPER_VERSION }}
          source-files: |
            src/**/*
            config/**/*
            controllers/**/*
            upgrade/**/*
            myparcelnl.php
            scoper.inc.php

  rebase-prs:
    uses: ./.github/workflows/rebase-prs.yml
    secrets: inherit

  notify-on-failure:
    needs:
      - test
      - build
    if: always() && contains(needs.*.result, 'failure')
    uses: myparcelnl/actions/.github/workflows/notify-on-failure.yml@v4
    secrets: inherit
